:root {
  --white: #fff;
  --blue: #00a2ff;
  --red: #fa2d5c;
  --pink: #ff00f0;
  --yellow: #fff000;
  --bg-black: #0e0e0e;
  --bg-dark-blue: #000732;
  --bg-ligh-blue: #004a79;
  --bg-gray: #2a2d47;
  --bg-red: #6d0047;
  --padding-y: 150px;
  --blue-pink-gradient: linear-gradient(90deg, #00a2ff, #ff00f0);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #0e0e0e;
  color: #fff;
}

a {
  text-decoration: none;
}

ul li,
li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

section {
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
  width: 100%;
}

/*** GRADIENTS ***/
.ellipse-1 {
  position: absolute;
  width: 631px;
  height: 631px;
  left: 1511px;
  top: 74px;
  background: conic-gradient(from 180deg at 50% 50%, #00a2ff 0deg, #6d0047 360deg);
  filter: blur(250px);
  z-index: -1;
}

.ellipse-2 {
  position: absolute;
  width: 1739px;
  height: 1276px;
  left: 151px;
  top: 1031px;
  background: conic-gradient(from 180deg at 50% 50%, #00a2ff 0deg, #ff00f0 360deg);
  filter: blur(350px);
  z-index: -1;
  opacity: 0.14;
}

.rectangle-1 {
  position: absolute;
  width: 2277px;
  height: 774px;
  left: -193px;
  top: 3235px;
  background: linear-gradient(180deg, rgba(0, 7, 50, 0.5) 0%, #2a2d47 100%);
  filter: blur(350px);
  z-index: -1;
}

/**** Gradients ***/
/***** COMPONENTS *****/
.btn {
  background: transparent;
  border: solid 1px;
  border-color: var(--blue);
  padding: 0.75rem 1.25rem;
  border-radius: 12px;
  font-size: 16px;
  color: var(--white);
  cursor: pointer;
}
.btn a {
  color: var(--white);
}

.section-title {
  font-weight: 300;
  color: var(--white);
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1rem;
  width: 100%;
  margin-bottom: 5rem;
}

.text-gradient-clip {
  background: var(--blue-pink-gradient);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
}

/**********/
.main-container {
  position: relative;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100%;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1500px) {
  .container {
    max-width: 1400px;
  }
}

.navbar {
  display: flex;
  width: 100%;
  padding: 0.75rem 5rem;
  justify-content: center;
}
.navbar .container {
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  max-width: 50px;
  width: 100%;
  flex: 0 1 auto;
}
.navbar__logo img {
  width: 100%;
}

.navbar__list {
  display: flex;
  gap: 36px;
}
.navbar__list .navbar__listItem {
  font-size: 24px;
}
.navbar__list .navbar__listItem a {
  color: #fff;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .container {
  align-items: center;
  gap: 24px;
}
.about .contact__icons {
  font-size: 2em;
}
.about .contact__icons svg {
  margin-right: 0.5rem;
}
.about .about__description {
  flex: 0 1 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 24px;
}
.about .about__description .about__description__title h1 {
  font-size: 5rem;
}
.about .about__description .about__description__title h5 {
  font-weight: 300;
  font-size: 2rem;
}
.about .about__description .about__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.about .about__description .about__contact .socialLinks p {
  margin-bottom: 1rem;
}
.about .about__description .about__contact .socialLinks ul {
  display: flex;
  gap: 16px;
}
.about .about__description__text p {
  line-height: 2rem;
  max-width: 75ch;
}
.about .about__image {
  flex: 0 1 auto;
  width: 50%;
}
.about .about__image img {
  width: 100%;
  max-height: 500px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills .skills__container {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}
.skills .skills__container .tech__skills,
.skills .skills__container .soft__skills {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.skills .skills__container .tech__skills h3,
.skills .skills__container .soft__skills h3 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 2rem;
}
.skills .skills__container .tech__skills .soft__skills__text p,
.skills .skills__container .soft__skills .soft__skills__text p {
  line-height: 2rem;
}
.skills .skills__container .icons {
  width: 100%;
  min-height: 50px;
  background: linear-gradient(180deg, #2a2d47, transparent);
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
}
.skills .skills__container .tech__skills ul {
  display: grid;
  justify-content: space-between;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}
.skills .skills__container .tech__skills ul .icons img {
  height: 50px;
}
.skills .skills__container .soft__skills ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 16px;
}
.skills .skills__container .soft__skills ul .icons svg {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects .projects__filter {
  display: flex;
  gap: 16px;
  margin-bottom: 5rem;
}
.projects .projects__filter .filter__button {
  font-size: 16px;
  color: white;
}
.projects .projects__container {
  flex-direction: column;
  gap: 48px;
}
.projects .projects__container .project__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  max-width: 1140px;
}
.projects .projects__container .project__item .project__image {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  min-width: 556px;
  min-height: 282px;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(180deg, #2a2d47, transparent);
}
.projects .projects__container .project__item .project__image .project__link {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 1rem;
  background: #3f4152;
  color: white;
  padding: 0.5rem;
  border-radius: 6px;
}
.projects .projects__container .project__item .project__image .image-project {
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 80%;
  left: 50%;
  translate: -50% 0;
}
.projects .projects__container .project__item .project__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.projects .projects__container .project__item .project__info small {
  color: var(--blue);
  font-size: 18px;
}
.projects .projects__container .project__item .project__info .project__title {
  font-size: 56px;
  color: var(--red);
}
.projects .projects__container .project__item .project__info .project__text {
  line-height: 2rem;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experience .experience__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(366px, 1fr));
  justify-content: space-evenly;
  gap: 96px;
}
.experience .experience__container .experience__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  background: linear-gradient(180deg, #2a2d47, transparent);
  padding: 1.5rem;
  gap: 16px;
}
.experience .experience__container .experience__item .experience__date {
  color: var(--blue);
  font-size: 1rem;
}
.experience .experience__container .experience__item .experience__title {
  color: var(--red);
  font-size: 2rem;
  font-weight: 700;
}
.experience .experience__container .experience__item .experience__company {
  color: var(--white);
}
.experience .experience__container .experience__item .experience__text {
  color: #999;
  line-height: 1.7rem;
}

.contact-footer {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-footer .container {
  flex-direction: column;
}
.contact-footer .container p {
  text-align: center;
  margin-bottom: 1rem;
}
.contact-footer .container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.contact-footer .container ul .contact__icons {
  font-size: 2em;
}

.goUp {
  position: fixed;
  background: #3f4152;
  color: white;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 12px;
  border: none;
}/*# sourceMappingURL=style.css.map */